# Convention for this repo
data/
data/*

# The usual
__pycache__
__pycache__/*

# Reject Jupyter artefacts
.ipynb_checkpoints
.ipynb_checkpoints/*

# ROOT files -- these need to be kept elsewhere
*.root

# Just in case...
*.so
*~
